.info-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 30px;
}

.info-content > div {
  width: 100%;
}

.handle-bar {
  position: absolute;
  left: 50%;
  top: 30px;
  width: 100px;
  height: 10px;

  border-radius: 25px;
  background-color: black;
  transform: translate(-50%, -50%);
}

.today {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px;
}

.city-name {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

.today .temp {
  font-family: var(--temp-font);
  font-size: 8em;
}

.weather-desc {
  position: relative;
  top: -20px;

  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-wrap: wrap;
  text-align: center;
}

.future {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.future > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 5px;

  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-top: 1px solid var(--border-color);
}

.future:last-child {
  border-bottom: 1px solid var(--border-color);
}

.extra-group {
  position: relative;
  display: flex;
  justify-content: center;
}

.grid-section {
  position: relative;
  width: 80%;
  height: 232px;
}

.grid {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2em;
  clip-path: inset(0 0 0 0);
  padding-bottom: 30px;
}

.cell {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  align-items: center;
}

.cell::before {
  content: "";
  width: 100vw;
  height: 2px;
  background-color: var(--border-color);
  position: absolute;
  top: -1em;
  transform: translate(0, -50%);
}

.cell::after {
  content: "";
  height: 100%;
  width: 2px;
  background-color: var(--border-color);
  position: absolute;
  left: -1em;
  transform: translate(-50%, 0);
}

.cell > img {
  width: 100%;
  height: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  letter-spacing: 1px;
}

.value {
  font-family: var(--details-font);
  font-size: 2em;
}

.title {
  position: relative;
  top: 0px;

  text-transform: uppercase;
  font-family: var(--details-font);
  font-size: 0.8rem;
}

small {
  font-size: 0.8rem;
}

.frigid {
  background-image: linear-gradient(#FFFFFF, #9E9E9E);
}

.cold {
  background-image: linear-gradient(#2A54AF, #080E50);
}

.cool {
  background-image: linear-gradient(#5AC7DF, #0F5650);
}

.mild {
  background-image: linear-gradient(#95BB61, #144907);
}

.warm {
  background-image: linear-gradient(#E2CA3E, #62400B);
}

.hot {
  background-image: linear-gradient(#EE492C, #6B2D0C);
}

.white-svg {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(165deg) brightness(109%) contrast(101%);
}