.web-content {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 100vw;
  height: 100vh;

  /* z-index: -3; */
  overflow: hidden;
}

.info-card {
  position: absolute;
  height: calc(100vh - 100px);
  width: calc(100vw / 3);
  min-width: 545px;

  border: 1px solid black;
  border-radius: 15px;
  cursor: pointer;
  background-color: white;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  z-index: 1;

  --border-color: black;
}

.info-card::-webkit-scrollbar {
  display: none;
}

.left {
  left: 50px;
}

.right {
  right: 50px;
}

.minimized {
  bottom: calc(-1 * (80vh - 100px));
  overflow: hidden;
}

.city-container {
  position: relative;
  height: calc(100vh - 100px);
  width: calc(100vw / 2);
  padding: 20px;
  /* z-index: -2; */
}

.city-container:hover {
  background-color: rgb(238, 238, 238);
}

.city-area {
  position: relative;
  height: 100%;
  width: 100%;

  /* z-index: -1; */
}

.city-marker {
  position: absolute;
  left: 0%;
  top: 0%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.city-group:hover .city-marker {
  height: 35px;
  width: 35px;
}

.city-form {
  left: 0%;
  top: -40px;
  transform: translate(-50%, -50%);
}

.city-text {
  position: absolute;
  left: 0%;
  top: -40px;
  transform: translate(-50%, 0);
  cursor: pointer;
  text-align: center;
}

img,
input[type="image"],
button[type="submit"] {
  height: 25px;
  width: 25px;
}

.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}

@media (max-width: 800px) {
  .city-container {
    width: calc(100vw - 200px);
  }

  .info-card {
    width: calc(100vw - 100px);
    min-width: auto;
    transform: translate(-50%, 0);
  }

  .left {
    left: 50%;
  }

  .right {
    right: 0;
    left: 50%;
  }
}